{{#each hangouts as |hangout|}}
    <div class="col-12">
      <div class="card">
        <div data-id="{{hangout._id}}" class="card-body">

          {{#if hangout.title}}
            <h5 class="card-title">{{hangout.title}}</h5>
          {{else}}
            <h5>(Empty)</h5>
          {{/if}}

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#all{{hangout._id}}">
            Info
          </button>

          <!-- Modal -->
          <div class="modal fade" id="all{{hangout._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{hangout.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  {{#if hangout.date}}
                    {{#if hangout.time}}
                      <h6 class="card-title">{{hangout.time}}, {{date hangout.date}}</h6>
                    {{else}}
                      <h6>(Time undefined)</h6>
                    {{/if}}
                  {{else}}
                    <h6>(Time undefined)</h6>
                  {{/if}}

                  {{#if hangout.location}}
                    <h6 class="card-title">{{hangout.location}}</h6>
                  {{else}}
                    <h6>(Location undefined)</h6>
                  {{/if}}

                  {{#if hangout.users}}
                    <h6 class="card-title">Number of attendees: {{hangout.users.length}}</h6>
                  {{else}}
                    <h6>Number of attendees: 0</h6>
                  {{/if}}

                  {{#if hangout.description}}
                    <h6 class="card-title">{{hangout.description}}</h6>
                  {{else}}
                    <h6>(No description)</h6>
                  {{/if}}

                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-info rsvp-event">RSVP</button>
          <button type="submit" class="btn btn-info unrsvp-event">UnRSVP</button>

        </div>
      </div>
    </div>
{{/each}}
